@font-face {
	font-family: 'GothamBold';
	src: url(../fonts/GothamBold.eot);
	src: local('☺'), 
			 url('../fonts/GothamBold.woff') format('woff'),
			 url('../fonts/GothamBold.ttf') format('truetype'),
			 url('../fonts/GothamBold.svg') format('svg');
}
@font-face {
	font-family: 'GothamMedium';
	src: url(../fonts/GothamMedium.eot);
	src: local('☺'), 
         url('../fonts/GothamMedium.woff') format('woff'),
         url('../fonts/GothamMedium.ttf') format('truetype'),
         url('../fonts/GothamMedium.svg') format('svg');
}
@font-face {
	font-family: 'GothamBook';
	src: url(../fonts/GothamBook.eot);
	src: local('☺'), 
			 url('../fonts/GothamBook.woff') format('woff'),
			 url('../fonts/GothamBook.ttf') format('truetype'),
			 url('../fonts/GothamBook.svg') format('svg');
}
@font-face {
	font-family: 'FontAwesome';
	src: url(../fonts/fontawesome.eot);
	src: local('☺'), 
			 url('../fonts/fontawesome.woff') format('woff'),
			 url('../fonts/fontawesome.ttf') format('truetype'),
			 url('../fonts/fontawesome.svg') format('svg');
}