//COLORS
$red: #e94e38;
$green: #1baf5d;
$orange: #f19e1f;
$purple: #88499c;
$gray: #b6c0c1;
$fontLightgray: #96a6a7;
$fontNavygray: #566375;
$backgroundColor: #f3f1f2;
$shadowColor: #e2dee0;
$fontFooter: #c0bebc;

//FONTS
$fontMedium: 'GothamMedium', 'Tahoma', sans-serif;
$fontBold: 'GothamBold', 'Tahoma', sans-serif;
$fontBook: 'GothamBook', 'Tahoma', sans-serif;

//SIZES
$total-columns: 12;
$font: 16px;
$container-width: (980/16) + em;
//$container-width: 980px;

//MEDIA-QUERIES
$small: 320px;
$medium: 768px;
$large: 1024px;


